body {
    background: url('/static/single_pages/images/color range.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body > h1{
    color: white;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;;
}


section {
    margin-bottom: 150px;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
}

.margin-for-footer {
    margin-bottom: 130px;
}
